{% extends "anteriora/base.html" %}
{% block content %}
    <div class="select2-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Nick</th>
                    <th>Lvl</th>
                    <th>Exp</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>juzek_o7</td>
                    <td>2</td>
                    <td>1500</td>
                </tr>
            <tr>
                    <td>2</td>
                    <td>ofey_o7</td>
                    <td>1</td>
                    <td>500</td>
                </tr>

            </tbody>
        </table>
    </div>
{% endblock content %}

